{% extends 'base.html' %}

{% block scripts %}
<script>

</script>
{% endblock %}

{% block header %}

{% endblock %}

{% block content %}
<body class="text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <h2> Picolo </h2>
      <a href= "{{ url_for('index') }}" class="btn btn-sm btn-dark">Go back to the main menu</a>
    </header>

    <main role="main" class="inner cover">
      {% if payload['player'] %}
      <h1 class="cover-heading">{{ payload['player'] }}!</h1>
      {% endif %}

      <h1 class="cover-heading">{{ payload['summary'] }}</h1>

      {% if payload['player1'] and payload['player2'] %}
      <h1 class="cover-heading">{{ payload['player1'] }} or {{ payload['player2'] }} </h1>
      {% endif %}
      <br>
      <h6>From the twisted mind of {{ payload['author']}}</h6>

      <br>
      <a href="play" class="btn btn-lg btn-secondary">Next</a>

    </main>

    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p>Created by Atanas Gizdov 2019</p>
      </div>
    </footer>
  </div>
</body>
{% endblock %}
