{% extends 'base.html' %}

{% block scripts %}

{% endblock %}

{% block header %}

{% endblock %}

{% block content %}
<body class="text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <h2> Picolo </h2>
      <a href= "{{ url_for('index') }}" class="btn btn-sm btn-dark">Go back to the main menu</a>
    </header>

    <main role="main" class="inner cover">
      <h1 class="cover-heading">Add you own custom prompts</h1>
      {% if success is defined %}
      <h6 class="cover-heading" style="color: #9fe060;"> Your prompt was successfully saved!</h6>
      {% endif %}

      <br>

        <form method="post">
          <div class="form-row">
            <div class="form-group col-lg-6" lead>
              <label for="summary">Enter your prompt</label>
              <input type="text" name="summary" class="form-control" id="summary" placeholder="Prompt" required maxlength="120">
            </div>
          </div>
            <div class="form-group col-lg-6">
              <label for="author">Author</label>
              <input type="text" name="author" class="form-control" id="author" placeholder="Enter your name (or alias)" required maxlength="56">
            </div>

          <div class="form-group col-lg-2">
            <label for="inputState">Type of prompt</label>
            <select id="category" name="category" class="form-control" required>
              <option value='' selected disabled hidden>Choose...</option>
              <option value='general'>General prompt</option>
              <option value='funny'>Funny</option>
              <option value='weird'>Weird</option>
              <option value='rather_forget'>History would rather forget</option>
              <option value='party'>Party Stories</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      <br>

    </main>

    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p>Created by Atanas Gizdov 2019</p>
      </div>
    </footer>
  </div>
</body>
{% endblock %}
