{% extends 'base.html' %}

{% block scripts %}
<script src="{{ url_for('static', filename='scripts/hotseat.js') }}">
</script>
{% endblock %}

{% block header %}

{% endblock %}

{% block content %}
<body class="text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <h2> Hotseat </h2>
        <a href= "{{ url_for('index') }}" class="btn btn-sm btn-dark">Go back to the main menu</a>
    </header>

    <main role="main" class="inner cover">
      <h1 class="cover-heading" id ='hotseat_prompt'>Welcome to Catch phrase!</h1>
      <div class="spinner" id='loading_spinner' style ="display:none;"></div>

      <br>

      <div class="lead" id ='start_button'>
        <div class = "btn-group lead">
          <button class="btn btn-lg btn-primary" onclick="start_hotseat()">Start</button>
        </div>
      </div>
      <div class="lead" id ='next_button' style ="display:none;">
        <div class = "btn-group lead">
          <button class="btn btn-lg btn-secondary" onclick="next_prompt()">Next</button>
        </div>
      </div>
    </main>

    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p>Created by Atanas Gizdov 2019</p>
      </div>
    </footer>
  </div>
</body>
{% endblock %}
