{% extends 'base.html' %}

{% block header %}

{% endblock %}

{% block content %}
<body class="text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <h2> Hotseat </h2>
        <a href= "{{ url_for('index') }}" class="btn btn-sm btn-dark">Go back to the main menu</a>
    </header>

    <main role="main" class="inner cover">
      <h1 class="cover-heading">Welcome to Hotseat!</h1>

      <br>

      <div class="lead">
        <div class = "btn-group lead">
          <a href="play" class="btn btn-lg btn-primary">Play Hotseat</a>
        </div>
      </div>
    </main>

    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p>Created by Atanas Gizdov 2019</p>
      </div>
    </footer>
  </div>
</body>
{% endblock %}
